<h1>New User Completed Information</h1>
  <p>
    Hello Admin,<br>
    A new user has completed their information:<br>
    First Name: <%= @user.first_name %><br>
    Last Name: <%= @user.last_name %><br>
    Email: <%= @user.email %><br>
  </p>
