#portfolio-container {
    background-color: #FFFFFF;
    padding: 5px;
    color: black;
    border-radius: 10px;
    margin-bottom: 5px;
    font-family: "Poppins", sans-serif;
    font-size: 0.8em;
}

#stocks-container {
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    font-size: 0.8em;
}

#button-container {
    padding: 20px 0px;
}

#button-container a {
    text-decoration: none;
    color: #fff;
    background-color: #269abc;
    padding: 5px;
    margin-right: 15px;
    border-radius: 10px;
}

#stocks-details-container {
    background: #000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    color: #fff;
}

#stock-info-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

#stock-info-table th,
#stock-info-table td {
    text-align: left;
    padding: 0.5rem;
    border-bottom: 1px solid #eaeaea;
}

#stock-info-table th {
    font-weight: bold;
    color: #fff;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: "Poppins", sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #000;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #000;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

/* Remove table lines */
.styled-table tbody tr,
.styled-table thead tr {
    border-bottom: none;
}

/* Styling the button */
.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}

.btn-info:hover {
    background-color: #31b0d5;
    border-color: #269abc;
}

/* Pagination Links Styling */
.pagination-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.pagination-links a:hover {
    text-decoration: underline;
}

.btn-black {
    background-color: #000;
    color: #fff;
    border: 1px solid transparent;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn-black:hover {
    background-color: #333;
}